*.m4 linguist-vendored
admin/* linguist-vendored
Makefile linguist-vendored
Makefile.* linguist-vendored
*/Makefile linguist-vendored
*/Makefile.* linguist-vendored
configure linguist-vendored
configure.* linguist-vendored
*/configure linguist-vendored
*/configure.* linguist-vendored
