[Desktop Entry]
Encoding=UTF-8
Name=KLinInfo
Name[xx]=xxKLinInfoxx
Exec=klininfo
Icon=klininfo
Type=Application
Comment=A Linux information utility
Comment[lt]=Linux informacijos programa
